h1 this is a temp page
h2 when contact is clicked it shoews a JS forms just below the contact button in that empty space below it
h2 style="text-decoration:line-through" it will include github, linkedin etc
h2 put github linkedin etc links in space next to logo up top