/ a href="/about" class="btn btn-primary span3" role="button" About Me
/ br
/ a href="/cv" class="btn btn-primary span3" role="button" Curiculum Vitae
/ br
/ a href="/web_development_portfolio" class="btn btn-primary span3" role="button" Web Development - Portfolio
/ br
/ a href="/3d_portfolio" class="btn btn-primary span3" role="button" 3D Animation - Porfolio
/ br
/ a href="/contact" class="btn btn-primary span3" role="button" Contact Me
/ br

a.btn.btn-primary href="/about" role="button" About Me
br
a.btn.btn-primary href="/cv" role="button" Curiculum Vitae
br
a.btn.btn-primary href="/web_development_portfolio" role="button" Web Development - Portfolio
br
a.btn.btn-primary href="/3d_portfolio" role="button" 3D Animation - Porfolio
br
a.btn.btn-primary href="/contact" role="button" Contact Me
br